* {
  margin: 0 auto;
  }

/*.container {
  width: 600px;
}*/

.picture {
  display: block;
  margin: 0 auto;
}

.container-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: green;

}

.bar-item {
  display: inline;
  width: 40px;
  text-align: center;
  border-right: 1px solid white;
  height: 80px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-top: 5px;
}

.bar-item a {
  display: inline;
  color: white;
  text-align: left;
  text-decoration: none;
  padding: 20px 20px;
   }

li:hover {
    background-color: black;
    border-bottom: 1px white solid;
}


.bar-bottom-item {
  display: inline;
  width: 40px;
  text-align: center;
  border-right: 1px solid white;
  height: 80px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-top: 5px;
}

.bar-bottom-item a {
  display: inline;
  color: white;
  text-align: left;
  text-decoration: none;
  padding: 20px 20px;
   }

.intro-paragraph {
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  padding-bottom: 10px;

}


h1 {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 100px;
  }

.container-body {
  display: inline

}

.sf {
  float: left;
  margin-left: 200px;
  padding: 20px;
}

.la {
  float: right;
  display: inline;
  margin-right: 200px;
  padding: 20px;
}

.hawaii {
  padding: 20px;

}

.container-top {
  width: 100vw;
  border: 1px solid black;
  position: fixed;
  top: 0;
  }

.container-bottom {
  position: fixed;
  background-color: green;
  width: 100vw;
  bottom: 0;
  }

.row {
  display: inline;
  padding: 20px;

}

@media all and (max-width: 480px) {
  .bar-bottom {
    display: none;
    border: none;
  }

  .container-body {
  display: block;
  }
}
